/* Hard Reset of CSS for the Page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main Variables */
:root {
  --primary-color:   rgba(30, 79, 138, 1);   /* Blue for background */
  --secondary-color: rgba(242, 210, 60);   /* Yellow as the safety helmet */
  --accent1-color:   rgba(107, 143, 88, 1);   /* Forrest green for ...?*/
  --accent2-color:   rgba(255, 252, 242, 1);  /* For text over dark background */
  --heading-font: 'Montserrat', sans-serif;
  --body-font: 'Roboto', sans-serif;
}

/* HEADER: Main logo, links to other pages */
header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    border-bottom: 1px solid var(--accent2-color);
}

header img {
    max-width: 120px;
    justify-self: center;
}

/* .logo img {
    margin: 0 0.25rem 0 1rem;
    width: 64px;
    height: auto;
}

#logo {
    font-size: 2rem;
    font-family: Acme, Arial, sans-serif;
} */

.navigation {
    display: flex;
    list-style: none;
}

.navigation li {
    flex: 1 1 auto;
}

.navigation a {
    display: flex;
    color: var(--accent2-color);
    padding: 20px;
    text-decoration: none;
    font-size: 1.2rem;
    justify-content: center;
}

.navigation a:hover {
    color: var(--secondary-color);
    text-decoration: underline;
}

/* nav {
    justify-content: center;
}


/* BODY: Divs, Sections, Articles, etc */
body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.hero {
    position: relative;
}

h1 {
    position: absolute;
    text-align: center;
    top: 10px;
    /* left: 20px; */
    padding: 10px 0 10px 0;
    background-color: var(--accent2-color);
    width: 840px;
}

.hero article {
    position: absolute;
    text-align: left;
    color: black;
    margin: 0;
    top: 75px;
    left: 50px;
    /* left: 20px; */
    padding: 10px 0 10px 0;
    background-color: rgba(242, 210, 60, 0.6);
    width: 750px;
    /* height: 180px; */
}

.hero article img {
    width: 130px;
    float: right;
    padding: 0 15px 0 15px;
}

p {
    font-family: var(--body-font);
    line-height: 1.4rem;
    margin: 0;
    padding: 15px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.history {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 250px;
    justify-content: center;
}

.history h2 {
    grid-column: 1/4;
    justify-self: center;
}

.history img {
    width: auto;
    height: 250px;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    justify-self: center;
}

.adventure {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(5, 0.2fr);
    grid-template-rows: 50px 250px;
    justify-items: center;
}

.adventure h2 {
    grid-column: 1/6;
    justify-self: center;
}

.adventure img {
    width: 120px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: var(--accent1-color);
    justify-self: center;
}

figure {
    padding: 10px;
}

/* .socialmedia {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 50px 50px 50px;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.socialmedia p {
    grid-column: 1/4;
    justify-self: center;
}

footer {
    display: grid;
    grid-template-columns: 0.8fr 0.2fr;
}

.socialmedia {
    display: flex;
    padding: 20px;
    justify-content: center;
}

.socialmedia li {
    text-decoration: none;
} */


/* START OF FOOTER CSS CODE */
footer {
    background-color: var(--accent1-color);
    color: var(--accent2-color);
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 250px;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

footer p {
    justify-self: left;
}

.socialmedia ul {
    display: flex;
    list-style: none;
}

.socialmedia ul li {
    flex: 1 1 auto;
}

.socialmedia a {
    display: flex;
    padding: 5px;
    text-decoration: none;
    font-size: 1.2rem;
    justify-content: center;
}

footer img {
    max-width: 40px;
    max-height: fit-content;
    justify-self: left;
}

/* END OF FOOTER CSS CODE */
