/* Hard Reset of CSS for the Page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main Variables */
:root {
  --primary-color:   rgba(30, 79, 138, 1);   /* Blue for background */
  --secondary-color: rgba(242, 210, 60);   /* Yellow as the safety helmet */
  --accent1-color:   rgba(75, 110, 60, 1);   /* Forrest green for ...?*/
  --accent2-color:   rgba(255, 252, 242, 1);  /* For text over dark background */
  --border-color: rgba(0, 0, 0, 1); /* Black for border and some text */
  --border-shadow-color: rgba(128, 128, 128, 1); /* Gray for shadow */
  --heading-font: 'Montserrat', sans-serif;
  --body-font: 'Roboto', sans-serif;
}

/* HEADER: Main logo, links to other pages */
header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
}

header img {
    max-width: 120px;
    justify-self: center;
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation li {
    flex: 1 1 auto;
}

.navigation a {
    display: flex;
    color: var(--accent2-color);
    padding: 20px;
    text-decoration: none;
    font-size: 1.2rem;
    justify-content: center;
}

.navigation a:hover {
    color: var(--secondary-color);
    text-decoration: underline;
}


/* BODY: Divs, Sections, Articles, etc */
body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    text-align: center;
    top: 10px;
    /* left: 20px; */
    padding: 10px 0 10px 0;
    background-color: rgba(255, 252, 242, 0.7);
    width: 840px;
}

.hero article {
    position: absolute;
    text-align: left;
    color: var(--border-color);
    margin: 0;
    top: 75px;
    left: 50px;
    /* left: 20px; */
    padding: 10px 0 10px 0;
    background-color: rgba(242, 210, 60, 0.8);
    width: 750px;
    /* height: 180px; */
}

.hero article img {
    width: 130px;
    float: right;
    padding: 0 15px 0 15px;
}

p {
    font-family: var(--body-font);
    line-height: 1.4rem;
    margin: 0;
    padding: 0 15px 0 15px;
}

.hero p {
    line-height: 2em;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.history {
    margin: 50px 0 0 0;
    display: grid;
    grid-template-columns: 1fr 0.8fr 1fr;
    grid-template-rows: 50px 320px;
    justify-content: center;
}

.history h2 {
    grid-column: 1/4;
    justify-self: center;
}

.history img {
    width: auto;
    height: 320px;
    border: 1px solid var(--border-color);
    padding: 2px;
    box-shadow: 0 0 30px var(--border-shadow-color);
    justify-self: center;
}

.adventure {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(5, 0.2fr);
    grid-template-rows: 50px 250px;
    justify-items: center;
}

.adventure h2 {
    grid-column: 1/6;
    justify-self: center;
}

.adventure img {
    width: 120px;
    height: auto;
    border: 1px solid var(--border-color);
    padding: 2px;
    box-shadow: 0 0 30px var(--border-shadow-color);
    justify-self: center;
}

figure {
    padding: 10px;
}



/* START OF FOOTER CSS CODE */
footer {
    background-color: var(--accent1-color);
    color: var(--accent2-color);
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 250px;
    align-items: center;
}

footer p {
    justify-self: left;
}

.socialmedia ul {
    display: flex;
    list-style: none;
}

.socialmedia ul li {
    flex: 1 1 auto;
}

.socialmedia a {
    display: flex;
    padding: 5px;
    text-decoration: none;
    font-size: 1.2rem;
    justify-content: center;
}

footer img {
    max-width: 40px;
    max-height: fit-content;
    justify-self: left;
}

/* END OF FOOTER CSS CODE */


/* START OF CONTACT US CSS CODE */

.contact-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 210px 500px 380px;
    grid-gap: 20px;
}

.contact-info {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
}


.contact-info h1 {
    text-align: center;
    top: 10px;
    padding: 20px 0 10px 0;
    width: 840px;
}

.contact-info p {
    text-align: center;
    color: var(--primary-color);
    margin: 0;
    padding: 3px 0 3px 0;
    width: 100%;
    font-weight: 700;
}




iframe {
    width: 400px;
    grid-column: 1/ 2;
    grid-row: 2 / 3;
    height: 100%;
    border-style: none;
}

/* Form Style */
form {
    /* border: 2px solid #9494948f; */
    padding: 0 0 0 10px;
    border-radius: 5px;
    display: grid;
    gap: 10px;
    grid-template-columns: 0.3fr 0.7fr;
    height: 100%;
}

fieldset {
    border-style: none;
    display: flex;
    flex-direction: column;
}

#l1, #l2, #l3 {
    grid-column: 1 / 2;
}

#l3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#l5 {
    display: flex;
    flex-direction: row;
}

#l4, #q4, #l5, button {
    grid-column: 1 / 3;

}

label.radio {
    padding: 0;
    margin: 0;
}

#l6 {
    padding-left: 10px;
}

input, textarea, select {
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 15px;
    border: 1px solid var(--border-shadow-color);
}

button {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    text-transform: uppercase;
    padding: 10px;
    border-radius: 5px;
}

button:hover {
    background-color: var(--secondary-color);
    color: var(--accent1-color);
    cursor: pointer;
}

/* End of Form */

.employees {
    width: 100%;
    margin: 50px 0 0 0;
    display: grid;
    grid-template-columns: repeat(3, 0.333fr);
    grid-template-rows: 50px 250px;
    grid-row: 3 / 4;
    grid-column: 1 / 3;
    border: 1px solid var(--border-color);
}

.employees h2 {
    grid-column: 1/6;
    justify-self: center;
    padding: 10px;
}

.employees img {
    width: 180px;
    height: auto;
    border: 1px solid var(--border-color);
    padding: 1px;
    margin: 0 0 10px 0;
    box-shadow: 0 0 30px var(--border-shadow-color);
    /* justify-items: center; */
}

.employees figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

figcaption {
    text-align: center;
}




/* ENDER OF CONTACT US CSS CODE */
