* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 1rem;
    font-family: monospace;
    font-size: 1.2rem;
}

div {
    margin: 1rem;
    border: 1px dashed;
    padding: 1rem;
}

.one {
    width: 200px;
    height: 200px;
}

.flex {
    background-color: #aba;
    /* write declarations here */
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    background-color: #abb;
    /* enter declarations here */
    display: grid;
    justify-content: center;
    align-items: center;
    /* place-items: center; */
    /* grid-template-columns: repeat(10, 0.1fr);
    grid-template-rows: repeat(10, 0.1fr); */
    /* justify-items: center;
    align-items: center; */

}


.container2 {
    /* write declarations here */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.two {
    background-color: #ace;
    height: 100px;
}

.container3 {
    /* write declarations here */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.columns-3 {
    /* write declaration here */
    grid-column: 1 / 4;

}

.three {
    margin: .25rem;
    background-color: #abd;
}

/* ----------------------- */

/* QUIZ */

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);
  gap: 10px;
}