.callout {
	background-color: #1E3D6E;
    max-width: 32rem;
}

.callout img {
    width: 125px;
    height: 125px;
    float: right;
    margin: 15px;
    border: 5px solid rgb(161, 160, 160);
    box-shadow: 0 0 0 1px black;
}

blockquote {
    padding-top: 20px;
    padding-left: 1px;
    margin-bottom: 1px;
    margin-top: 5px;
    margin-left: 15px;
    margin-right: 10px;
    font-size: 1.2rem;
    font-family: serif Georgia;
    color: white;
    text-align: left;
    border-bottom: 1px dotted white;
}

cite {
    display: flex;
    justify-content: flex-end;
    padding-top: 2px;
    padding-bottom: 15px;
    color: white;
    align-items: right;
    margin-left: 10px;
    margin-right: 10px;
}